.DS_Store
.env
venv/
.idea/

backend/api/__pycache__

frontend/bot/__pycache__/
frontend/bot/data.csv
frontend/bot/handlers/__pycache__
frontend/bot/keyboards/__pycache__
frontend/bot/states/__pycache__
frontend/bot/utils/__pycache__